
/* 
---------------------------------------------
contact us
--------------------------------------------- 
*/

section.contact-us {
    background-image: url(../../../assets/images/footer-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    position: relative;
  }
  
  section.contact-us:after {
    position: absolute;
    content: '';
    background-image: url(../../../assets/images/footer-left-dec.png);
    left: 0px;
    top: 60px;
    width: 267px;
    height: 396px;
    z-index: 1;
  }
  


  

  
  section.contact-us .section-heading {
    text-align: left;
    margin-bottom: 40px;
  }
  



  

  

  section.contact-us ul.social-icons li {
    display: inline-block;
    margin: 0px 5px;
  }
  
  section.contact-us ul.social-icons {
    text-align: center;
    margin-top: 70px;
  }
  
  section.contact-us ul.social-icons li a {
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #fff;
    color: #dc8cdb;
    border-radius: 50%;
    transition: all .5s;
  }
  
  section.contact-us ul.social-icons li a:hover {
    background-color: #dc8cdb;
    color: #fff;
  }
  
  p.copyright {
    text-align: center;
    color: #fff;
    margin: 40px 0px;
  }
  
  p.copyright a {
    font-weight: 700;
    color: #fff;
  }
  