<!-- <app-header></app-header>

<app-cta></app-cta> -->
<section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h4>What We Do</h4>
            <h1>Our Services</h1>
          </div>
        </div>
      </div>
    </div>
</section>
<app-cta></app-cta>
<app-services></app-services>

<app-featured-product></app-featured-product>
<app-our-office></app-our-office>
<!-- <app-contact-us></app-contact-us> -->