  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/templatemo-eduwell.png" alt="EduWell Template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLinkActive="active" routerLink="" fragment="top"  >Home</a></li>
                        <li class="scroll-to-section"><a routerLinkActive="active" routerLink="" fragment="services">Services</a></li>
                        <li class="scroll-to-section"><a routerLinkActive="active" routerLink="" fragment="courses">Courses</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a routerLinkActive="active" routerLink="/about-us">About Us</a></li>
                                <li><a routerLinkActive="active" routerLink="/our-services" >Our Services</a></li>
                                <li><a routerLinkActive="active" routerLink="/contact-us">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#testimonials">Testimonials</a></li> 
                        <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->