/*
---------------------------------------------
heading page
---------------------------------------------
*/

section.page-heading {
    margin-top: 190px;
    text-align: center;
  }
  
  section.page-heading .header-text {
    border-bottom: 3px solid #eee;
    padding-bottom: 80px;
  }
  
  section.page-heading .header-text h4 {
    font-size: 17px;
    text-transform: capitalize;
    color: #7a7a7a;
  }
  
  section.page-heading .header-text h1 {
    font-size: 62px;
    font-weight: 900;
    color: #111;
    margin-top: 10px;
  }
  