/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

section.main-banner {
    margin-top: 0px;
  }
  
  .main-banner {
    padding-top: 180px;
  }
  
  .main-banner .right-image {
    margin-left: 120px;
    position: relative;
    z-index: 2;
  }
  
  .main-banner .right-image img {
    position: relative;
    z-index: 2;
  }
  
  .main-banner .right-image::after {
    position: absolute;
    background-image: url(../../../assets/images/banner-right-dec.png);
    width: 378px;
    height: 378px;
    content: '';
    right: -25%;
    z-index: 1;
  }
  
  .main-banner .header-text::after {
    position: absolute;
    background-image: url(../../../assets/images/banner-left-dec.png);
    width: 214px;
    height: 429px;
    content: '';
    left: 0;
    bottom: -240px;
    z-index: 1;
  }
  
  .main-banner .header-text h6 {
    position: relative;
    z-index: 2;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    color: #777777;;
  }
  
  .main-banner .header-text h2 {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    font-size: 64px;
    color: #111111;
    font-weight: 900;
    line-height: 74px;
    margin-bottom: 40px;
  }
  
  .main-banner .header-text h2 em {
    font-style: normal;
    color: #dc8cdb;
  }
  
  .main-banner .main-button-gradient {
    position: relative;
    z-index: 2;
  }
  